<?xml version="1.0" encoding="UTF-8"?>


<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.zerock.myapp.mapper.BoardMapper">

    <select id="getList" resultType="org.zerock.myapp.domain.BoardVO">
        <![CDATA[ 
        
        SELECT /*+ index_desc(tbl_board) */ * FROM tbl_board WHERE bno > 0
        
        ]]>
    </select>


    <select id="getListWithPaging" resultType="org.zerock.myapp.domain.BoardVO">
        <![CDATA[ 
            SELECT /*+ index_desc(tbl_board) */ * 
            FROM tbl_board 
            OFFSET ( #{currPage} -1 ) * #{amount} ROWS
            FETCH NEXT #{amount} ROWS ONLY
        ]]>
    </select>
    
    
    <select id="read" resultType="org.zerock.myapp.domain.BoardVO">
        <![CDATA[ 
            SELECT *
            FROM tbl_board
            WHERE bno = #{bno}
        ]]>
    </select>


    <delete id="delete">
        <![CDATA[ 
            DELETE FROM tbl_board
            WHERE bno = #{bno}
        ]]>
    </delete>
    
    <insert id="insert">
        <![CDATA[ 
            INSERT INTO tbl_board(title, content, writer)
            VALUES (#{title}, #{content}, #{writer})
        ]]>
    </insert>
    
    
    <insert id="insertSelectKey">
        <selectKey keyProperty="bno" order="BEFORE" resultType="int">
		 <![CDATA[
		 	SELECT ISEQ$$_94948.nextval FROM dual
		 ]]>
        </selectKey>
         <![CDATA[ 
            INSERT INTO tbl_board(bno, title, content, writer)
            VALUES (#{bno}, #{title}, #{content}, #{writer})
         ]]>
    </insert>
    
    
    
    <update id="update">
        <![CDATA[ 
            UPDATE tbl_board 
            SET title = #{title}, content = #{content}, writer = #{writer}, update_ts = sysdate
            WHERE bno = #{bno}
        ]]>
    </update>
    
</mapper>
