<link rel="stylesheet" type="text/css" href="/doc/css/common.css"/>
<link rel="stylesheet" type="text/css" href="/doc/css/footer.css"/>

<!-- FOOTER -->
    <div id="footer_area">

        <div id="footer_logo_area">
            <h1 id="footer_logo"><a href="#">G-FAIR KORER</a></h1>
        </div>

        
        <div id="footer_copy_area">
            <div id="footer_copy">
                <b>주소</b> 59723 전라남도 여수시 박람회길 1 (덕충동)   <b>사업자번호</b>  417-82-08394 <br>
                <b>TEL</b> 1577-2012      <b>FAX</b>  061-659-2029<br><br>
                Copyright © <b>EXPO 2012 YEOSU KOREA FOUNDATION</b> All rights reserved.<br>
            </div>
        </div>


    </div>