<!DOCTYPE html>

<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>지페어 코리아</title>

    <link rel="stylesheet" type="text/css" href="/doc/slick/slick.css"/>

    <link rel="stylesheet" type="text/css" href="/doc/css/common.css"/>
    <link rel="stylesheet" type="text/css" href="/doc/css/header.css"/>
    <link rel="stylesheet" type="text/css" href="/doc/css/section.css"/>
    <link rel="stylesheet" type="text/css" href="/doc/css/footer.css"/>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-migrate/3.3.2/jquery-migrate.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bxslider/4.2.15/jquery.bxslider.min.js" integrity="sha512-p55Bpm5gf7tvTsmkwyszUe4oVMwxJMoff7Jq3J/oHaBk+tNQvDKNz9/gLxn9vyCjgd6SAoqLnL13fnuZzCYAUA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

    <script type="text/javascript" src="/doc/slick/slick.min.js"></script>
    <script type="text/javascript" src="/doc/js/gnb_dropdown.js"></script>
    <script type="text/javascript" src="/doc/js/slick_slider.js"></script>
    <script type="text/javascript" src="/doc/js/bxslider_supporters.js"></script>
    <script type="text/javascript" src="/doc/js/header_footer.js"></script>


</head>
<body>

    <div id="wrap">


        <!-- HEADER -->
        <header id="header"></header>
        <div class="line"></div>

        <!-- SECTION -->
        <section id="section">

            <!-- SLIDE VIEW -->
            <div id="slide_view_area">
                <div id="slider_area">
                    <div class="slider">
                        <div>
                            <img src="/doc/img/section/slider/slide01.png" width="1000" height="490" alt="img">
                        </div>
                        <div>
                            <img src="/doc/img/section/slider/slide02.png" width="1000" height="490" alt="img">
                        </div>
                        <div>
                            <img src="/doc/img/section/slider/slide03.png"  width="1000" height="490" alt="img">
                        </div>
                        <div>
                            <img src="/doc/img/section/slider/slide04.png"  width="1000" height="490" alt="img">
                        </div>
                    </div>
    
                    <!-- <div id="pager">
                        <div class="arrow_slider">
                            <span id="prev">이전</span>
                            
                            <span id="next">다음</span>
                        </div>
                    </div> -->
                    
                    <!-- <script type="text/javascript">
                        $(function() {
                            $('.slider').slick({
                                dots: false,
                                arrows: true,
                                prevArrow: $('#prev'),
                                nextArrow: $('#next'),
                                infinite: true,
                                autoplay: true,
                                autoplaySpeed: 3000,
                                speed: 300,
                                // customPaging: function(slide, i) {
                                //     return '<div class="slide-banner">' +
                                                
                                //                 '<span class="bn-item"> 테스트 버튼'+(i+1)+ '</span>' +
                                //            '</div>'
                                // }
    
                                
                            });
                        });
                    </script> -->
    
                    
    
                </div>
                
            </div>

            <!-- QUICK MENU -->
            <div id="quick_menu_area">

                <div id="quick_menu">

                    <ul id="quick_menu_ul">

                        <li class="quick_items">
                            <a href="#"><img src="/doc/img/section/qucikmenu/calendar.png" alt="전시회 일정"></a>
                        </li>

                        <li class="quick_items">
                            <a href="#"><img src="/doc/img/section/qucikmenu/application.png" alt="참가 신청"></a>
                        </li>
    
                        <li class="quick_items">
                            <a href="#"><img src="/doc/img/section/qucikmenu/document.png" alt="사전관람 신청"></a>
                        </li>

                        <li class="quick_items">
                            <a href="#"><img src="/doc/img/section/qucikmenu/event.png" alt="이벤트"></a>
                        </li>

                        <li class="quick_items">
                            <a href="#"><img src="/doc/img/section/qucikmenu/location.png" alt="찾아오시는 길"></a>
                        </li>
                        
                        <div class="clear"></div>
                    </ul>

                </div>
                

            </div>

            <!-- NOTICE -->
            <div id="notice_area">
                
                <div id="notice_board_menu">
                    <div id="notice_board_area">

                        <div id="notice_board_top">
                            <h1>공지사항</h1>
                            
                            <div>more</div>
                        </div>
                        <div class="clear"></div>
                        
                        <div id="notice_board_content">
                            <div class="line"></div>
                            <ul>
                                <li><a href="#">2021 서울국제스포츠레저산업전(SPOEX) 온라인 개최</a></li>
                                <li><a href="#">spoex2020 개최 취소 공지</a></li>
                                <li><a href="#">인생망했다</a></li>
                                <li><a href="#">집가고싶다</a></li>
                            </ul>
                        </div>
    
                    </div>
                </div>
                

            </div>

            <!-- QUESTION -->
            <div id="question_area">
                
                <div id="question_menu">
                    
                    <div id="question_ment">
                        <h1>더 궁금한 사항이 있으신가요?</h1>
                    </div>
                    <div id="question_signup">
                        <a href="#">가입하러가기</a>
                    </div>

                </div>

            </div>

            <!-- EMPTY -->
            <div id="empty_area">
                
            </div>

            <!-- SUPPORT -->
            <div class="support_area">

                <div class="container">
                    <div class="bx-wrapper" style="max-width: 1250px;"><div class="bx-viewport" style="width: 100%; overflow: hidden; position: relative; height: 88px;"><ul class="family_site" style="width: 1015%; position: relative; left: -185.328px;">
                    	<li style="float: left; list-style: none; position: relative; width: 170px; margin-right: 10px;">
                            <a href="http://afreecatv.com" target="_blank">
								<img src="/doc/img/section/supporters/family_site09.jpg" alt="afreeca tv"><!-- 20210201 로고추가 -->
							</a>
						</li>
                        <li style="float: left; list-style: none; position: relative; width: 170px; margin-right: 10px;">
                            <a href="http://kua.sports.or.kr/servlets/org/front/app10/action/app10_10" target="_blank">
								<img src="/doc/img/section/supporters/family_site03.jpg" alt="사단법인 대한수중·핀수영협회"><!-- 20201215 img alt 입력 -->
							</a>
						</li>
						<li style="float: left; list-style: none; position: relative; width: 170px; margin-right: 10px;">
							<a href="http://www.kospia.or.kr/" target="_blank">
								<img src="/doc/img/section/supporters/family_site07.jpg" alt="대한스포츠공업협동조합"><!-- 20201215 img alt 입력 -->
							</a>
						</li>
						<li style="float: left; list-style: none; position: relative; width: 170px; margin-right: 10px;">
							<a href="http://www.kpfa.co.kr/" target="_blank">
								<img src="/doc/img/section/supporters/family_site06.jpg" alt="KPFA"><!-- 20201215 img alt 입력 -->
							</a>
						</li>
						<li style="float: left; list-style: none; position: relative; width: 170px; margin-right: 10px;">
							<a href="http://www.krvia.org" target="_blank">
								<img src="/doc/img/section/supporters/family_site08.jpg" alt="한국레저자동차산업협회"><!-- 20201215 img alt 입력 -->
							</a>
						</li>
						<li style="float: left; list-style: none; position: relative; width: 170px; margin-right: 10px;">
							<a href="http://www.thecaravan.co.kr/" target="_blank">
								<img src="/doc/img/section/supporters/family_site02.jpg" alt="Caravan"><!-- 20201215 img alt 입력 -->
							</a>
						</li>
						<li style="float: left; list-style: none; position: relative; width: 170px; margin-right: 10px;">
							<a href="https://www.sports-st.com/en/" target="_blank">
								<img src="/doc/img/section/supporters/family_site04.jpg" alt="SPORTEC 2018"><!-- 20201215 img alt 입력 -->
							</a>
						</li>
						<li style="float: left; list-style: none; position: relative; width: 170px; margin-right: 10px;">
							<a href="http://en.sportshow.com.cn/index.html" target="_blank">
								<img src="/doc/img/section/supporters/family_site05.jpg" alt="CHINA Sport show"><!-- 20201215 img alt 입력 -->
							</a>
						</li>

					<li style="float: left; list-style: none; position: relative; width: 170px; margin-right: 10px;" class="bx-clone">
                            <a href="http://afreecatv.com" target="_blank">
								<img src="/doc/img/section/supporters/family_site09.jpg" alt="afreeca tv"><!-- 20210201 로고추가 -->
							</a>
						</li><li style="float: left; list-style: none; position: relative; width: 170px; margin-right: 10px;" class="bx-clone">
                            <a href="http://kua.sports.or.kr/servlets/org/front/app10/action/app10_10" target="_blank">
								<img src="/doc/img/section/supporters/family_site03.jpg" alt="사단법인 대한수중·핀수영협회"><!-- 20201215 img alt 입력 -->
							</a>
						</li><li style="float: left; list-style: none; position: relative; width: 170px; margin-right: 10px;" class="bx-clone">
							<a href="http://www.kospia.or.kr/" target="_blank">
								<img src="/doc/img/section/supporters/family_site07.jpg" alt="대한스포츠공업협동조합"><!-- 20201215 img alt 입력 -->
							</a>
						</li><li style="float: left; list-style: none; position: relative; width: 170px; margin-right: 10px;" class="bx-clone">
							<a href="http://www.kpfa.co.kr/" target="_blank">
								<img src="/doc/img/section/supporters/family_site06.jpg" alt="KPFA"><!-- 20201215 img alt 입력 -->
							</a>
						</li><li style="float: left; list-style: none; position: relative; width: 170px; margin-right: 10px;" class="bx-clone">
							<a href="http://www.krvia.org" target="_blank">
								<img src="/doc/img/section/supporters/family_site08.jpg" alt="한국레저자동차산업협회"><!-- 20201215 img alt 입력 -->
							</a>
						</li><li style="float: left; list-style: none; position: relative; width: 170px; margin-right: 10px;" class="bx-clone">
							<a href="http://www.thecaravan.co.kr/" target="_blank">
								<img src="/doc/img/section/supporters/family_site02.jpg" alt="Caravan"><!-- 20201215 img alt 입력 -->
							</a>
						</li><li style="float: left; list-style: none; position: relative; width: 170px; margin-right: 10px;" class="bx-clone">
							<a href="https://www.sports-st.com/en/" target="_blank">
								<img src="/doc/img/section/supporters/family_site04.jpg" alt="SPORTEC 2018"><!-- 20201215 img alt 입력 -->
							</a>
						</li><li style="float: left; list-style: none; position: relative; width: 170px; margin-right: 10px;" class="bx-clone">
							<a href="http://en.sportshow.com.cn/index.html" target="_blank">
								<img src="/doc/img/section/supporters/family_site05.jpg" alt="CHINA Sport show"><!-- 20201215 img alt 입력 -->
							</a>
						</li>
                    </ul></div></div>
				</div>
            </div>

        </section>
        
        <!-- FOOTER -->
        <footer id="footer"></footer>
    </div>

</body>
</html>